*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  background-color: #07154c;
  padding: 1em;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
  font-size: 1.25rem;
}

nav a.active-link {
  color: #15ba3a;
}

.container {
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
}

h1 {
  font-size: min(8vw, 42px);
  text-align: center;
  font-family: Georgia, serif;
  margin: 1em 0;
}

h2 {
  font-size: min(5vw, 25px);
  text-align: center;
  font-weight: 700;
}

header .box {
  font-size: 10px;
  position: relative;
  width: 20em;
  height: 20em;
  background-color: #99d8ca;
  margin: 5em auto;
  border: 0.8em solid #000;
  border-radius: 1.5em;
  outline: 1.5em solid #5873e2;
  outline-offset: -2.3em;
}

header .box::before {
  content: "";
  position: absolute;
  font-size: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24em;
  height: 24em;
  background-color: #90ffa9;
  border-radius: 2em;
  z-index: -1;
}

@media (max-width: 576px) {
  header .box {
    font-size: 8px;
  }

  header .box::before {
    content: "";
    position: absolute;
    font-size: 8px;
  }
}

.labels {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 1em 0 2em 0;
}

.labels p {
  position: relative;
  margin: 0 1.5em;
  font-weight: 700;
  font-size: 1.15rem;
}

.labels p::before {
  content: "";
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #000;
  border-radius: 50%;
  left: -1.75em;
  top: 50%;
  transform: translateY(-50%);
}

.light-blue::before {
  background-color: #99dbca;
}

.dark-blue::before {
  background-color: #0d1430;
}

.sea-green::before {
  background-color: #90ffa9;
}

.medium-blue::before {
  background-color: #5873e2;
}

@media (max-width: 576px) {
  .labels {
    flex-wrap: wrap;
  }

  .labels p {
    margin: 1.5em;
    font-size: 1rem;
  }
}

.exercise-container {
  border-top: 2px dashed #414645;
  padding-bottom: 3em;
}

.exercise-container h2 {
  margin-top: 3em;
}

.parent {
  width: min(80%, 660px);
  border: 2px solid #000;
  display: flex;
  margin: 2.5em auto 0 auto;
}

.child-box {
  width: min(100%, 200px);
  height: min(30vw, 180px);
  margin: 10px;
  background-color: #dae0fa;
}

.border-2px {
  border: 2px solid #000;
}

@media (max-width: 576px) {
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .child-box {
    width: min(90%, 250px);
  }
}

/* Blog page */

.blog-header,
.blog-container {
  margin: 2em auto;
  display: flex;
  gap: 1.5em;
}

.blog-header {
  margin-top: 3em;
}

.blog-header figure {
  position: relative;
  width: 50%;
  height: 300px;
}

.blog-header figure img,
.blog-container article figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-header aside,
.blog-container article {
  width: 50%;
}

.blog-container article figure {
  position: relative;
  width: 100%;
  height: 300px;
}

.blog-header aside h2,
.blog-container article h2 {
  text-align: left;
  color: #07154c;
}

.blog-container article h2 {
  margin-top: 1em;
}

p {
  font-size: 1.15rem;
  line-height: 1.2;
  margin: 1em 0;
}

.read-more-btn {
  background-color: #19bb3d;
  color: #fff;
  font-size: 1.15rem;
  padding: 0.5em 1.15em;
  font-weight: 500;
  border: 0;
  border-radius: 2em;
}

.blog-container a {
  color: #19bb3d;
  font-size: 1.15rem;
  font-weight: 700;
}

@media (max-width: 576px) {
  .blog-header,
  .blog-container {
    display: flex;
    flex-direction: column;
  }

  .blog-header figure,
  .blog-container article figure {
    width: 100%;
    height: 200px;
  }

  .blog-header aside,
  .blog-container article {
    width: 100%;
  }

  .blog-header aside h2,
  .blog-container article h2 {
    font-size: min(6vw, 25px);
  }

  .blog-header aside p {
    font-size: 1rem;
  }

  .read-more-btn {
    font-size: 1.05rem;
    width: 100%;
  }
}
